<mat-drawer #drawer class="example-sidenav" mode="side" opened>
  <mat-form-field class="example-full-width" appearance="fill">
    <input
      id="query"
      matInput
      placeholder="Search"
      [(ngModel)]="query"
      (ngModelChange)="this.queryUpdate.next($event)"
    />
  </mat-form-field>
  <ng-container *ngIf="notesMap$ | async as notesMap; else loading">
    <ng-container *ngIf="notesMap; else empty">
      <div *ngFor="let note of notesMap | keyvalue">
        <a [routerLink]="['notes', note.key]">{{ note.value }}</a>
      </div>
    </ng-container>
  </ng-container>

  <!-- TODO: thois is not showing -->
  <ng-template #loading>
    <h4>Loading...</h4>
  </ng-template>

  <ng-template #empty>
    <h4>You havent created any note yet</h4>
  </ng-template>
</mat-drawer>
